<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NASA</title>
    <% include ./partials/header %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1 id="welcome"><span class="fa fa-rocket"></span>NASA Discovery</h1>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
      </div>
    </div>
  </body>
</html>
