<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NASA</title>
    <% include ./partials/header %>
  </head>
  <body>
    <img src="/img/load.gif" alt="" id="load">
    <div class="container" id="main-page">
      <div class="page-header text-center">
        <h1>NASA explorer</h1>
        <a href="/logout" class="btn btn-danger btn-md logout-btn">Exit</a>
      </div>
      <div class="row">
        <!-- <strong>user</strong>: <%= user %><br> -->
          <div class="buttons-list">
            <figure class="buttons-nav">
              <img src="/img/apod2.png" id="day"alt="">
              <figcaption>APOD</figcaption>
            </figure>
            <figure class="buttons-nav">
              <img src="/img/solar.jpg" id="main"alt="">
              <figcaption>Solar System</figcaption>
            </figure>
          </div>
          <div class="solar-system">
              <div class="sun">
                <figure>
                  <img src="/img/sm/sun-sm.gif" alt="" id='Sun'>
                  <figcaption>Sun</figcaption>
                </figure>
              </div>
              <div class="planet-list">
                <ul>
                <li>
                  <figure>
                    <img src="/img/sm/mercury-sm.png" alt="" id='Mercury'>
                    <figcaption>Mercury</figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="/img/sm/venus-sm.png" alt="" id='Venus'>
                    <figcaption>Venus</figcaption>
                  </figure>
                </li>
                <li class="earth">
                  <figure>
                    <img src="/img/sm/earth-sm.png" alt="" id='Earth'>
                    <figcaption>Earth</figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="/img/sm/mars-sm.png" alt="" id='Mars'>
                    <figcaption>Mars</figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="/img/sm/jupiter-sm.png" alt="" id='Jupiter'>
                    <figcaption>Jupiter</figcaption>
                  </figure>
                </li>
                <li class="saturn">
                  <figure>
                    <img src="/img/sm/saturn-sm.png" alt="" id='Saturn'>
                    <figcaption>Saturn</figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="/img/sm/uranus-sm.png" alt="" id='Uranus'>
                    <figcaption>Uranus</figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="/img/sm/neptune-sm.png" alt="" id='Neptune'>
                    <figcaption>Neptune</figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="/img/sm/pluto-sm.png" alt="" id='Pluto'>
                    <figcaption>Pluto</figcaption>
                  </figure>
               </li>
            </ul>
          </div>
      </div>

        <div id="today">
        </div>
        <div id="planet">
          <div class="row">
            <div id="sphere" class="col-md-7">
              <div id="container"></div>
            </div>
            <div id="description" class="col-md-5">
              <div id="title"></div>
              <div id="info"></div>
              <!-- <div id="img"><img src="#" alt=""></div> -->
              <div id="stats"></div>
              <div id="temp"></div>
              <div id="size"></div>
              <div id="earthday"></div>
              <div id="earthyear"></div>
              <div id="moon"></div>
              <div id="type"></div>
              <div id="distance"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
