<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NASA</title>
    <% include ./partials/header %>
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>NASA explorer</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>
      <div class="row">
        <strong>user</strong>: <%= user %><br>


          <button type="button" id='day'></button>
          <div class="planet-list">
            <button type="button" id='Neptune'>neptune</button>
            <button type="button" id='Uranus'>uranus</button>
            <button type="button" id='Saturn'>saturn</button>
            <button type="button" id='Jupiter'>jupiter</button>
            <button type="button" id='Mars'>mars</button>
            <button type="button" id='Earth'>earth</button>
            <button type="button" id='Venus'>venus</button>
            <button type="button" id='Mercury'>mercury</button>
            <button type="button" id='Pluto'>pluto</button>
          </div>

        <div id="today">

        </div>
        <div id="planet">
          <div id="description">
            <div id="title"></div>
            <div id="info"></div>
            <div id="img"><img src="#" alt=""></div>
            <div id="stats"></div>
            <div id="temp"></div>
            <div id="size"></div>
            <div id="earthday"></div>
            <div id="earthyear"></div>
            <div id="moon"></div>
            <div id="type"></div>
            <div id="distance"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
