<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NASA</title>
    <% include ./partials/header %>
  </head>
  <body>
    <div class="container">
      <div id="google_translate_element"></div>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,bn,en,es,fr,hi,pt,ru,zh-CN'}, 'google_translate_element');
        }
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show massages that come back with autheticaion -->
        <% if(message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- signup form -->
        <form action="/signup" method="post">
          <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control">
          </div>

          <button type="submit" class="btn btn-success btn-lg">Sign up</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">back</a>.</p>

      </div>
    </div>
  </body>
</html>
