/*#load{
  display: none;
}*/
#main-page{
  display: none;
}






body{
  background-color: black;
  background-image: url('../img/space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center;*/
  background-attachment: fixed;
  /*height: 100%;*/
  height: 100vh;
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 1.5em;
}
#today{
  display: none;
  text-align: center;
  margin: 0 auto;
  /*letter-spacing: 2px;*/
}
#container{
  margin-left: -40%;
}
#today{
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 80%;
}
#today a#img-day img{
  height: 80%;
  width: 80%;
  margin-bottom: 10px;
}
#img-day{
  height: 80%;
  width: 80%;
  max-height: 650px;
}

iframe#video-day{
  width: 100%;
  height: 40em;
}

.logout-btn{
  position: absolute;
  left: 90%;
  margin-top: -50px;
}
#main, #day{
  width: 100px;
  height: 50px;
  border-radius: 20%;
  border: 2px solid white;
}

.buttons-nav{
  width: 200px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}
.buttons-list{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#load{
  width: 100%;
  height: 100%;
  position: fixed;
}



figure img{
  width: 100px;
  height: 100px;
}

.planet-list img{
  cursor: pointer;
}
.planet-list ul{
  display: inline-block;
  width: 100%;
  position: relative;
  top:-170px;
  left: 100px;
}
.planet-list ul li{
  display: inline-block;
  width: 100px;
}
.planet-list .exept-sun{
  position: relative;
  margin-left: 2em;
  margin-top: -10%;
}

img#Sun{
  width: 100%;
  height: 100%;
}
img#Mercury{
  width: 60px;
  height: 60px;
}
img#Venus, img#Mars{
  width: 70px;
  height: 70px;
}
img#Earth{
  width: 130px;
}
img#Jupiter{
  width: 140px;
  height: 140px;
}
img#Saturn{
  width: 150px;
  height: 150px;
}
img#Uranus{
  width: 90px;
  height: 90px;
}
img#Neptune{
  width: 90px;
  height: 90px;
}
img#Pluto{
  width: 50px;
  height: 50px;
}
.saturn{
  margin:0 3em;

}
.sun{
  text-align: center;
  position: relative;
  top:70px;
  width: 30em;
  height: 20em;
  left: -230px;
}
.planet-list ul li.earth{
  margin-right: 20px;
}
.planet-list ul li figcaption{
  text-align: center;
}
#welcome{
  color:black;
}

/*======PLANET DESCRIPTION=======*/

  #temp img {
    float:left;
    /*display: block;*/
  }
  #temp p{
    float: left;
  }
  #size img {
    clear: both;
    float:left;
  }
  #size p {

    float:left;
    display: block;

  }
  #earthday{
    clear: both;
  }




/*=====PLANET DESCRIPTION ENDS=====*/







@media screen and (max-width: 480px) {
    .planet-list ul li {
        width: 100%;
    }
    img#Mercury,img#Venus,img#Mars, img#Jupiter,img#Uranus,img#Neptune,img#Pluto{
      width: 100px;
      height: 100px;
    }
}
@media screen and (min-width: 1500px) {
  #container{
    margin-left: -100%;
    margin-top: -15%;
  }

}
